version: '3'

services:
  flite-postgres: # db service name changed because of multiple containers running on my host machine
    build:
      context: .
      dockerfile: ./Dockerfile-Postgres
    image: postgres
    container_name: flite-postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: flite
      POSTGRES_USER: postgres
      POSTGRES_HOST: flite-postgres
      POSTGRES_PORT: 5432
    ports:
      - "5439:5432" # port was changed because of multiple containers running on my host machine

  flite-django:
    restart: always
    environment:
      - DJANGO_SECRET_KEY=local
    image: django
    container_name: flite-django
    build: ./
    command: >
      bash -c "python wait_for_postgres.py &&
               ./manage.py migrate &&
               ./manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./:/code
    ports:
      - "8009:8000" # port was changed because of multiple containers running on my host machine
    depends_on:
      - flite-postgres
