DJANGO_SECRET_KEY=thisgvbhgjahsjgbasfdafsadgh
DATABASE_URL=postgres://postgres:postgres@postgres:5432/flite
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=flite
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DJANGO_PAGINATION_LIMIT=10
