DJANGO_SECRET_KEY=thisgvbhgjahsjgbasfdafsadgh
DATABASE_URL=postgres://postgres:postgres@postgres:5432/flite
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=flite
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres