amqp==5.2.0
asgiref==3.8.1
asttokens==2.4.1
backcall==0.2.0
backports.zoneinfo==0.2.1
billiard==4.2.0
blessings==1.7
boto3==1.9.93
botocore==1.12.253
celery==5.4.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
coverage==4.5.2
decorator==5.1.1
dj-database-url==0.5.0
Django==3.2.16
django-configurations==2.2
django-environ==0.4.5
django-extensions==3.1.0
django-filter==23.5
django-model-utils==3.1.2
django-nose==1.4.6
django-phonenumber-field==7.3.0
django-storages==1.7.1
django-unique-upload==0.2.1
djangorestframework==3.11.0
docutils==0.15.2
drf-yasg==1.21.7
entrypoints==0.3
executing==2.0.1
factory-boy==2.11.1
Faker==25.0.0
flake8==3.7.5
flower==2.0.1
gunicorn==19.9.0
humanize==4.9.0
inflection==0.5.1
ipdb==0.11
ipython==8.12.3
jedi==0.19.1
Jinja2==3.1.3
jmespath==0.10.0
kombu==5.3.7
livereload==2.6.3
Markdown==3.0.1
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
mccabe==0.6.1
mkdocs==1.0.4
mock==2.0.0
newrelic==4.12.0.113
nose==1.3.7
nose-progressive==1.5.2
packaging==24.0
parso==0.8.4
pbr==6.0.0
pexpect==4.9.0
phonenumbers==8.13.35
pickleshare==0.7.5
prometheus_client==0.20.0
prompt-toolkit==3.0.43
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.17.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
s3transfer==0.2.1
six==1.16.0
sqlparse==0.5.0
stack-data==0.6.3
tornado==6.4
traitlets==5.14.3
typing_extensions==4.11.0
tzdata==2024.1
uritemplate==4.1.1
urllib3==1.25.11
vine==5.1.0
wcwidth==0.2.13
whitenoise==6.6.0
